##########################################################################
#                                                                        #
#  This is the config-template for Err. This file should be copied and   #
#  renamed to config.py, then modified as you see fit to run Errbot      #
#  the way you like it.                                                  #
#                                                                        #
#  As this is a regular Python file, note that you can do variable       #
#  assignments and the likes as usual. This can be useful for example if #
#  you use the same values in multiple places.                           #
#                                                                        #
#  Note: Various config options require a tuple to be specified, even    #
#  when you are configuring only a single value. An example of this is   #
#  the BOT_ADMINS option. Make sure you use a valid tuple here, even if  #
#  you are only configuring a single item, else you will get errors.     #
#  (So don't forget the trailing ',' in these cases)                     #
#                                                                        #
##########################################################################

import logging

##########################################################################
# Core Errbot configuration                                              #
##########################################################################

# BACKEND selection.
# This configures the type of chat server you wish to use Errbot with.
#
# The current choices:

# Debug backends to test your plugins manually:
# 'Text'     - on the text console
# 'Graphic'  - in a GUI window

# Commercial backends:
# 'Campfire' - see https://campfirenow.com/ (follow instructions from https://github.com/errbotio/err-backend-campfire)
# 'Hipchat'  - see https://www.hipchat.com/
# 'Slack'    - see https://slack.com/
# 'Gitter'   - see https://gitter.im/ (follow instructions from https://github.com/errbotio/err-backend-gitter)

# Open protocols:
# 'TOX'      - see https://tox.im/ (follow instructions from https://github.com/errbotio/err-backend-tox)
# 'IRC'      - for classic IRC or bridged services like https://gitter.im
# 'XMPP'     - the Extensible Messaging and Presence Protocol (https://xmpp.org/)
# 'Telegram' - cloud-based mobile and desktop messaging app with a focus
#              on security and speed. (https://telegram.org/)

BACKEND = '{{ errbot_backend }}'

# STORAGE selection.
# This configures the type of persistence you wish to use Errbot with.
#
# The current choices:

# Debug:
# 'Memory'        - local memory storage to test your bot in memory:

# Filesystem:
# 'Shelf'         - python shelf (default)

STORAGE = '{{ errbot_storage }}'

BOT_EXTRA_STORAGE_PLUGINS_DIR = {% if errbot_bot_extra_storage_plugins_dir %}'{{ errbot_bot_extra_storage_plugins_dir }}'{% else %}None{% endif %}

# The location where all of Err's data should be stored. Make sure to set
# this to a directory that is writable by the user running the bot.
BOT_DATA_DIR = '{{ errbot_bot_data_dir }}'

### Repos and plugins config.

# Set this to change from where errbot gets its installable plugin list.
# By default it gets the index from errbot.io which is a file generated by tools/plugin-gen.py.
BOT_PLUGIN_INDEXES = '{{ errbot_bot_plugin_indexes }}'


# Set this to a directory on your system where you want to load extra
# plugins from, which is useful mostly if you want to develop a plugin
# locally before publishing it. Note that you can specify only a single
# directory, however you are free to create subdirectories with multiple
# plugins inside this directory.
BOT_EXTRA_PLUGIN_DIR = {% if errbot_bot_extra_plugin_dir %}'{{ errbot_bot_extra_plugin_dir }}'{% else %}None{% endif %}

# If you use an external backend as a plugin,
# this is where you tell Errbot where to find it.
BOT_EXTRA_BACKEND_DIR = '{{ errbot_bot_extra_backend_dir }}'

# If you want only a subset of the core plugins that are bundled with errbot, you can specify them here.
CORE_PLUGINS = {% if errbot_core_plugins %}'{{ errbot_core_plugins }}'{% else %}None{% endif %}
# For example CORE_PLUGINS = ('ACLs', 'Backup', 'Help') you get those names from the .plug files Name entry.
# For absolutely no plug: CORE_PLUGINS = ()

# Defines an order in which the plugins are getting their callbacks. Useful if you want to have plugins do
# pre- or post-processing on messages.
# The 'None' tuple entry represents all the plugins that aren't to be expicitely ordered. For example, if
# you want 'A' to run first, then everything else but 'B', then 'B', you would use ('A', None, 'B').
PLUGINS_CALLBACK_ORDER = ({% if not errbot_plugins_callback_order %}None, {% else %}{% for plug in errbot_plugins_callback_order %}'{{ plug }}', {% endfor %}{% endif %})

# Should plugin dependencies be installed automatically? If this is true
# then Errbot will use pip to install any missing dependencies automatically.
#
# If you have installed Errbot in a virtualenv, this will run the equivalent
# of `pip install -r requirements.txt`.
# If no virtualenv is detected, the equivalent of `pip install --user -r
# requirements.txt` is used to ensure the package(s) is/are only installed for
# the user running Err.
AUTOINSTALL_DEPS = {% if errbot_autoinstall_deps %}True{% else %}False{% endif %}

# The location of the log file. If you set this to None, then logging will
# happen to console only.
BOT_LOG_FILE = {{ errbot_bot_log_file }}

# The verbosity level of logging that is done to the above logfile, and to
# the console. This takes the standard Python logging levels, DEBUG, INFO,
# WARN, ERROR. For more info, see http://docs.python.org/library/logging.html
#
# If you encounter any issues with Err, please set your log level to
# logging.DEBUG and attach a log with your bug report to aid the developers
# in debugging the issue.
BOT_LOG_LEVEL = {{ errbot_bot_log_level }}

# Enable logging to sentry (find out more about sentry at www.getsentry.com).
# This is optional and disabled by default.

BOT_LOG_SENTRY = {% if errbot_bot_log_sentry %}True{% else %}False{% endif %}

SENTRY_DSN = {% if errbot_sentry_dsn %}'{{ errbot_sentry_dsn }}'{% else %}''{% endif %}

SENTRY_LOGLEVEL = {{ errbot_sentry_loglevel }}

# Execute commands in asynchronous mode. In this mode, Errbot will spawn 10
# separate threads to handle commands, instead of blocking on each
# single command.
BOT_ASYNC = {% if errbot_bot_async %}True{% else %}False{% endif %}

# Size of the thread pool for the asynchronous mode.
BOT_ASYNC_POOLSIZE = {{ errbot_bot_async_poolsize }}

##########################################################################
# Account and chatroom (MUC) configuration                               #
##########################################################################

# The identity, or credentials, used to connect to a server
BOT_IDENTITY = {
{% if errbot_backend == 'XMPP' %}
    # XMPP (Jabber) mode
    'username': '{{ errbot_identity_username }}',  # The JID of the user you have created for the bot
    'password': '{{ errbot_identity_password }}',       # The corresponding password for this user
    # 'server': ('host.domain.tld',5222), # server override
{% elif errbot_backend == 'Hipchat' %}
    ## HipChat mode (Comment the above if using this mode)
    'username': '{{ errbot_identity_username }}',
    'password': '{{ errbot_identity_password }}',
    ## Group admins can create/view tokens on the settings page after logging
    ## in on HipChat's website
    'token': '{{ errbot_identity_token }}',
    ## If you're using HipChat server (self-hosted HipChat) then you should set
    ## the endpoint below. If you don't use HipChat server but use the hosted version
    ## of HipChat then you may leave this commented out.
    'endpoint' : '{{ errbot_identity_endpoint }}'
{% elif errbot_backend == 'Slack' %}
    ## Slack mode (comment the others above if using this mode)
    'token': '{{ errbot_identity_token }}',
{% elif errbot_backend == 'Telkegram' %}
    ## Telegram mode (comment the others above if using this mode)
    'token': '{{ errbot_identity_token }}',
{% elif errbot_backend == 'IRC' %}
    ## IRC mode (Comment the others above if using this mode)
    'nickname': {{ errbot_identity_nickname }},
    'username': {{ errbot_identity_username }},    # optional, defaults to nickname if omitted
    'password': {{ errbot_identity_password }},             # optional
    'server': {{ errbot_identity_server }},
    'port': {{ errbot_identity_port }},                  # optional
    'ssl': {{ errbot_identity_ssl }},                  # optional
    'ipv6': {{ errbot_identity_ipv6 }},                 # optional
    'nickserv_password': {{ errbot_identity_nickserv_password }},     # optional
    ## Optional: Specify an IP address or hostname (vhost), and a
    ## port, to use when making the connection. Leave port at 0
    ## if you have no source port preference.
    ##    example: 'bind_address': ('my-errbot.io', 0)
    'bind_address': {{ errbot_identity_bind_address }},
{% endif %}
}

# Set the admins of your bot. Only these users will have access
# to the admin-only commands.
#
# Unix-style glob patterns are supported, so 'gbin@localhost'
# would be considered an admin if setting '*@localhost'.
BOT_ADMINS = ({% for admin in errbot_bot_admins %}'{{ admin }}',{% endfor %})

# Chatrooms your bot should join on startup. For the IRC backend you
# should include the # sign here. For XMPP rooms that are password
# protected, you can specify another tuple here instead of a string,
# using the format (RoomName, Password).
CHATROOM_PRESENCE = ({% for pres in errbot_chatroom_presence %}'{{ pres }}', {% endfor %})

# The FullName, or nickname, your bot should use. What you set here will
# be the nickname that Errbot shows in chatrooms. Note that some XMPP
# implementations, notably HipChat, are very picky about what name you
# use. In the case of HipChat, make sure this matches exactly with the
# name you gave the user.
CHATROOM_FN = '{{ errbot_chatroom_fn }}'

##########################################################################
# Prefix configuration                                                   #
##########################################################################

# Command prefix, the prefix that is expected in front of commands directed
# at the bot.
#
# Note: When writing plugins,you should always use the default '!'.
# If the prefix is changed from the default, the help strings will be
# automatically adjusted for you.
#
BOT_PREFIX = '{{ errbot_bot_prefix }}'
#
# Uncomment the following and set it to True if you want the prefix to be
# optional for normal chat.
# (Meaning messages sent directly to the bot as opposed to within a MUC)
BOT_PREFIX_OPTIONAL_ON_CHAT = {% if errbot_bot_prefix_optional_on_chat %}True{% else %}False{% endif %}

# You might wish to have your bot respond by being called with certain
# names, rather than the BOT_PREFIX above. This option allows you to
# specify alternative prefixes the bot will respond to in addition to
# the prefix above.
BOT_ALT_PREFIXES = ({% for pref in errbot_bot_alt_prefixes %}'{{ pref }}', {% endfor %})

# If you use alternative prefixes, you might want to allow users to insert
# separators like , and ; between the prefix and the command itself. This
# allows users to refer to your bot like this (Assuming 'Err' is in your
# BOT_ALT_PREFIXES):
# "Err, status" or "Err: status"
#
# Note: There's no need to add spaces to the separators here
#
BOT_ALT_PREFIX_SEPARATORS = ({% for sep in errbot_bot_alt_prefix_separators %}'{{ sep }}', {% endfor %})

# Continuing on this theme, you might want to permit your users to be
# lazy and not require correct capitalization, so they can do 'Err',
# 'err' or even 'ERR'.
BOT_ALT_PREFIX_CASEINSENSITIVE = {% if errbot_bot_alt_prefix_caseinsensitive %}True{% else %}False{% endif %}

##########################################################################
# Access controls and message diversion                                  #
##########################################################################

# Access controls, allowing commands to be restricted to specific users/rooms.
# Available filters (you can omit a filter or set it to None to disable it):
#   allowusers: Allow command from these users only
#   denyusers: Deny command from these users
#   allowrooms: Allow command only in these rooms (and direct messages)
#   denyrooms: Deny command in these rooms
#   allowprivate: Allow command from direct messages to the bot
#   allowmuc: Allow command inside rooms
# Rules listed in ACCESS_CONTROLS_DEFAULT are applied by default and merged
# with any commands found in ACCESS_CONTROLS.
#
# The options allowusers, denyusers, allowrooms and denyrooms support
# unix-style globbing similar to BOT_ADMINS.
#
# Command names also support unix-style globs and can optionally be restricted
# to a specific plugin by prefixing the command with the name of a plugin,
# separated by a colon. For example, `Health:status` will match the `!status`
# command of the `Health` plugin and `Health:*` will match all commands defined
# by the `Health` plugin.
#
# Please note that the first command match found will be used so if you have
# overlapping patterns you must used an OrderedDict instead of a regular dict:
# https://docs.python.org/3.4/library/collections.html#collections.OrderedDict
#
# Example:
#
ACCESS_CONTROLS_DEFAULT = {{ errbot_access_controls_default | to_json }}
ACCESS_CONTROLS = {{ errbot_access_controls | to_json }}


# Uncomment and set this to True to hide the restricted commands from
# the help output.
HIDE_RESTRICTED_COMMANDS = {% if errbot_hide_restricted_commands %}True{% else %}False{% endif %}

# Uncomment and set this to True to ignore commands from users that have no
# access for these instead of replying with error message.
HIDE_RESTRICTED_ACCESS = {% if errbot_hide_restricted_access %}True{% else %}False{% endif %}

# A list of commands which should be responded to in private, even if
# the command was given in a MUC. For example:
# DIVERT_TO_PRIVATE = ('help', 'about', 'status')
DIVERT_TO_PRIVATE = ({% for cmd in errbot_divert_to_private %}'{{ cmd }}', {% endfor %})

# Chat relay
# Can be used to relay one to one message from specific users to the bot
# to MUCs. This can be useful with XMPP notifiers like for example  the
# standard Altassian Jira which don't have native support for MUC.
# For example: CHATROOM_RELAY = {'gbin@localhost' : (_TEST_ROOM,)}
CHATROOM_RELAY = {{ errbot_chatroom_relay | to_json }}

# Reverse chat relay
# This feature forwards whatever is said to a specific user.
# It can be useful if you client like gtalk doesn't support MUC correctly
# For example: REVERSE_CHATROOM_RELAY = {_TEST_ROOM : ('gbin@localhost',)}
REVERSE_CHATROOM_RELAY = {{ errbot_reverse_chatroom_relay | to_json }}

##########################################################################
# Miscellaneous configuration options                                    #
##########################################################################

# Define the maximum length a single message may be. If a plugin tries to
# send a message longer than this length, it will be broken up into multiple
# shorter messages that do fit.
MESSAGE_SIZE_LIMIT = {{ errbot_message_size_limit }}

# XMPP TLS certificate verification. In order to validate offered certificates,
# you must supply a path to a file containing certificate authorities. By
# default, "/etc/ssl/certs/ca-certificates.crt" is used, which on most Linux
# systems holds the default system trusted CA certificates. You might need to
# change this depending on your environment. Setting this to None disables
# certificate validation, which can be useful if you have a self-signed
# certificate for example.
XMPP_CA_CERT_FILE = '{{ errbot_xmpp_ca_cert_file }}'

# Influence the security methods used on connection with XMPP-based
# backends. You can use this to work around authentication issues with
# some buggy XMPP servers.
#
# The default is to try anything:
XMPP_FEATURE_MECHANISMS = {{ errbot_xmpp_feature_mechanisms | to_json }}


# Modify the default keep-alive interval. By default, Errbot will send
# some whitespace to the XMPP server every 300 seconds to keep the TCP
# connection alive. On some servers, or when running Errbot from behind
# a NAT router, the default might not be fast enough and you will need
# to set it to a lower value.
#
# It has been reported that HipChat also times out without setting this
# to a lower value (60 seems to work well with HipChat)
#
# If you're having issues with your bot getting constantly disconnected,
# try to gradually lower this value until it no longer happens.
XMPP_KEEPALIVE_INTERVAL = {{ errbot_xmpp_keepalive_interval }}


# XMPP supports some formatting with XEP-0071 (http://www.xmpp.org/extensions/xep-0071.html).
# It is disabled by default because XMPP clients support has been found to be spotty.
# Switch it to True to enable XHTML-IM formatting.
XMPP_XHTML_IM = {% if errbot_xmpp_xhtml_im %}True{% else %}False{% endif %}

# Message rate limiting for the IRC backend. This will delay subsequent
# messages by this many seconds (floats are supported). Setting these
# to a value of 0 effectively disables rate limiting.
IRC_CHANNEL_RATE = {{ errbot_irc_channel_rate }}
IRC_PRIVATE_RATE = {{ errbot_irc_private_rate }}
IRC_RECONNECT_ON_KICK = {{ errbot_irc_reconnect_on_kick }}
IRC_RECONNECT_ON_DISCONNECT = {{ errbot_irc_reconnect_on_disconnect }}

# The pattern to build a user representation from for ACL matches.
# The default is "{nick}!{user}@{host}" which results in "zoni!zoni@ams1.groenen.me"
# for the user zoni connecting from ams1.groenen.me.
# Available substitution variables:
#   {nick}  ->  The nickname of the user
#   {user}  ->  The username of the user
#   {host}  ->  The hostname the user is connecting from
IRC_ACL_PATTERN = '{{ errbot_irc_acl_pattern }}'

# Allow messages sent in a chatroom to be directed at requester.
GROUPCHAT_NICK_PREFIXED = {% if errbot_groupchat_nick_prefixed %}True{% else %}False{% endif %}

# Disable table borders, making output more compact (supported only on IRC, Slack and Telegram currently).
COMPACT_OUTPUT = {% if errbot_compact_output %}True{% else %}False{% endif %}

# Disables the logging output in Text mode and only outputs Ansi.
TEXT_DEMO_MODE = {% if errbot_text_demo_mode %}True{% else %}False{% endif %}

# Prevent ErrBot from saying anything if the command is unrecognized.
SUPPRESS_CMD_NOT_FOUND = {% if errbot_suppress_cmd_not_found %}True{% else %}False{% endif %}
