# This manages the errbot daemon

description "Errbot daemon"

start on started networking
stop on (deconfiguring-networking or runlevel [016])

env LANG='utf-8'
export LANG

exec {{ errbot_exec }} -c {{ errbot_root }}/config.py
